<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/Content/fancybox")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/fancybox")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery-map")
    <script src="@Url.Content("~/Scripts/map/ui/min/jquery.ui.map.full.min.js")"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
</head>
<body>
    <div id="container">
        <div id="container_bottom">
            <div id="main">
                <header>
                    <div id="top">
                        <div>Info and reservations : (+357) 99 770435</div>
                    </div>
                    <div class="content-wrapper">
                        <div id="logo">
                            <img src="@Url.Content("~/images/cake_wedding.png")" />
                            <img src="@Url.Content("~/images/cake_kids.png")" />
                        </div>
                        <div class="float-right">
                            <nav>
                                <ul id="menu">
                                    <li id="first_item">@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "Index", "About")</li>
                                    <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                                    <li id="last_item">@Html.ActionLink("Contact", "Index", "Contact")</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
                <div id="body">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
                <footer>
                    <div class="content-wrapper">
                        <div id="bottom">
                            <div id="left">@Html.ActionLink("Terms and conditions","Index", "Terms")</div>
                            <div id="right">All Rights Reserved. Copyright 2013.</div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>    
    @RenderSection("scripts", required: false)
</body>
</html>
