@model List<CakePromotion.CakePromoService.Cake>
@{
    ViewBag.Title = "Cake List";
    ViewBag.DisplayType = "Tile";
}

<script>
    $(document).ready(function(){
        var width = $(window).width();
        var minAcceptSize = 650;
        var tile = true;

        if (width > minAcceptSize) {
            $("div#cakeListItem").each(function (i, e) {
                if (i % 2 != 0) {
                    $(this).toggleClass("right");
                }
            });
        }

        if (tile) {
            $("div#cakeListItem").each(function (i, e) {
                className_Tile = this.id + "_Tile";
                $(this).attr("id", className_Tile);
                if (width < minAcceptSize && i % 2 > 0) {
                    $(this).after("<div style='clear:both;'></div>");
                }
            });//end div#cakeListItem

            $("div#cakeListItem_img").each(function () {
                className = this.id + "_Tile";
                $(this).attr("id", className);
            });//end div#cakeListItem_img
            $("div#cakeListName").each(function () {
                className = this.id + "_Tile";
                $(this).attr("id", className);
            });//end div#cakeListName
            $("div#cakeListRate").each(function () {
                className = this.id + "_Tile";
                $(this).attr("id", className);
            });//end div#cakeListRate
            $("div#cakeListComment").each(function () {
                className = this.id + "_Tile";
                $(this).attr("id", className);
            });//end div#cakeListComment
        }//end tile
    });//end ready
</script>

<h2>@ViewBag.Title</h2>
@foreach (var cake in Model.Select((x,i) => new { Data = x, Index = i }))
{
    <a href="@Url.Action("CakeCart", "Gallery", new {CakeID = cake.Data.CakeID})">
        <div id="cakeListItem">
            <div id="cakeListItem_img"><img src="@Url.Content(cake.Data.CakePhoto.FirstOrDefault().PhotoURL_Small)" alt="@cake.Data.Name" /></div>
            <div id="cakeListItem_content">
                <div id="cakeListName">
                    @cake.Data.Name
                </div>
                @if (cake.Data.Rate.Count > 0)
                {
                    <div id="cakeListRate"><br />
                        <div>Overall rate:</div>
                        @{double rateAvg = (Math.Round((cake.Data.Rate.Average(r => r.Facilitate) + cake.Data.Rate.Average(r => r.Design) + cake.Data.Rate.Average(r => r.Taste)) / 3, 1));}
                        @for(int i=1;i<6;i++)
                        {
                            double number = Math.Floor(rateAvg);
                            double fraction = rateAvg - number;
                            <div class="star" style="background-position:0 @(number>=i ? "16px" : (number+1 < i) ? "0" : (Math.Floor(fraction/2 * 10) * -16).ToString() + "px");"></div>
                        }
                            @rateAvg
                    </div>  
                    <div id="cakeListComment">
                        <p>Comments: @cake.Data.Rate.FirstOrDefault().Comments</p>
</div>                    
                }
            </div>
        </div>
    </a>

}
<div style="clear: both"></div>
